*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*Classes auxiliares*/
.container{
    padding: 0 2%;
    margin: 0 auto;
    max-width: 1280px;
}

.clear{
    clear: both;
}

/*Classes do site*/


/*Sessao Header*/
header{
    position: relative;
    background-color: #3b5998;
}

.logo{
    float: left;
    position: relative;
    top: 5px;
    font-size: 22px;
    color: #fff;
    padding-top: 20px;
}

.login{
    float: right;
    color: #fff;
    font-size: 13px;
}

.login .esqueceu{
    display: block;
    color: #add8e6;
    text-decoration: none;
}

.login .esqueceu:hover{
    text-decoration: underline;
}

.login .login-dados{
    float: left;
    padding: 15px;
}

.login-dados input{
    margin-top: 2px;
    height: 25px;
}

.login-dados .entrar {
    text-decoration: none;
    background-color: #0047ab;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}

/*Sessao principal*/

section{
    background-color: #dfe1ee;
}

.principal .container{
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.conexao{
    width: 50%;
    float: left;
    font-size: 22px;
    color: black;
}
.conexao img{
    width: 100%;
}

.cadastro{
    position: relative;
    width: 50%;
    float: right;
    padding: 0 50px; 
}

.cadastro h1{
    font-size: 30px;
}

.cadastro p{
    padding: 10px 0;
}

.nome-sobrenome input{
    height: 40px;
    padding-left: 5px;
    width: calc(50% - 2.25px);
    margin-bottom: 10px;

}

.senha-email input{
    margin-bottom: 10px;
    width: 100%;
    height: 40px;
    padding-left: 5px;
}

.nascimento{
    margin: 20px 0;
    color: gray;
}

.nascimento input{
    padding: 5px;
}

.cadastro-genero{
    font-weight: normal;
}

.cadastro-genero label{
    color: gray;
}

.cadastro-genero input{
    margin: 10px 10px;
}

.cadastro a{
    text-decoration: none;
}

.termos{
    width: 60%;
    font-size: 14px;
    margin-bottom: 30px;
    color: grey;
}

.termos a{
    color: #3b5998;
}

.termos a:hover{
    text-decoration: underline;
}

.cadastre-se{
    padding: 10px 50px;
    background-color: #69a74e;
    border-radius: 5px;
    color: #fff;
    
}

p.criar-pagina{
    padding: 50px 0;
    font-size: 14px;
    
}

p.criar-pagina a{
    color: #3b5998;
    font-weight: normal;
}

/*Footer*/

footer.rodape{
    padding: 20px 0;
    color: gray;
}

.linguas .linguas-ancoragem{
    text-decoration: none;
    color: #3b5998;
    padding: 0 5px;
}

.linguas .linguas-ancoragem:hover{
    text-decoration: underline;
}

hr{
    margin: 10px 0;
}

.tags a{
    text-decoration: none;
    padding-right: 30px;
    color: #3b5998;
}

.tags a:hover{
    text-decoration: underline;
}


@media screen and (max-width: 1024px){
    .login{
        margin-right: 0;
    }
    
    .cadastro{
        padding: 0 20px;
    }
}

/*834*/

@media screen and (max-width: 834px){
    .nome-sobrenome input{
        width: 100%;
    }
}

@media screen and (max-width: 768px){
    .cadastro{
        width: 100%;
        padding: 10px 0;
    }
    
    .logo {
        
        padding: 20px 0 20px 0;
    
    }
    
    .conexao{
        width: 100%;
    }
}

@media screen and (max-width: 650px){
    
    /*
    .logo{
        padding: 20px 5px 20px 0;
        font-size: 20px;
    }
    */
    
    .logo{
        padding: 10px 0;
        text-align: center;
        float: none;
    }
    
    .login{
        padding: 10px 0;
        position: relative;
        left: 50%;
        float: left;
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 473px){
    
    .login{
        text-align: center;
    }
    .login-dados{
        width: 100%;
    }
    
    .login .login-dados input{
        width: 80%;
        margin: 0 10%;
        height: 30px;
    }
    
    .login .login-dados .entrar{
        padding: 15px;
        margin: 10px 0;
        display: inline-block;
    }
}

